name: CD
on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: pnpm install
      - name: Verify dependency signatures
        run: npm audit signatures
      - name: Publish release
        run: pnpx semantic-release@25
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
