name: CI
on: [pull_request]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        node-version: [18, 20, 22, 24]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: pnpm install
      - name: Build and validate
        run: pnpm prepack
